
//******************************ШРИФТЫ**************************//
//**************************************************************//



//*************************ПЕРЕМЕННЫЕ ШРИФТОВ**************************//
//*********************************************************************//



//*************************ПЕРЕМЕННЫЕ ЦВЕТОВ**************************//
//*********************************************************************//

$main: #fff;
$black: #000;
$content: #00B372;
$bg: #272727;


//*************************ПЕРЕМЕННЫЕ GRID**************************//
//*********************************************************************//

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);


$container-max-widths: (
	sm: 640px, 
	md: 850px,
	lg: 1000px,
	xl: 1200px
);

$grid-gutter-width: 40px;
